{% extends 'base.html' %}
{% load bootstrap3 %}
{% load bootstrap4 %}
{% load bootstrap3 %}

{% block content %}
{{ form.media }}

<div style="margin-top: 130px;background-color: " class="container">
  <div style="text-align:center">
    <li class="list-inline-item">
      <h3><span class="username">{{ profile.username }}</span></h3>
    </li>
  </div>
  <div class="container">

    <div class="row">
      <div class="col-md-4" style="background-color:chocolate;">

        {% if profile_details.prof_pic %}
        <img src="{{profile_details.prof_pic.cdn_url}}" alt="profile-photo">
        {% else %}
        <img style="border-radius: 40em;" src="/static/img/avatah.png" alt="avatar">
        {% endif %}
      </div>
      <div class="col-md-4">
        <ul class="list-inline">
          {% if profile.username == user.username %}
          <div class="edit-btn">
            <a href="{% url 'edit_profile' %}">Edit Profile</a>
            <a href="/logout">
              <p class="with-border">Log Out</p>
            </a>
          </div>

          {% endif %}
        </ul>

        {% if profile.username == user.username %}
        <a href="{% url 'upload_project' %}">
          <p>
            Add Project
          </p> &nbsp;<i class="fas fa-plus"></i>
        </a>
        {% endif %}

      </div>

    </div>
  </div>
</div>
<hr>
<h3 style="font-weight:bold;font-family: 'Lato', sans-serif;text-align: center;">Projects Posted :</h3>
<div class="container">
  <div class="row">
    <div class="row user-images">
      {% for project in projects %}
      <div class="post-image" style="background-color:teal;">
        <img src="{{project.image.url}}" data-toggle="modal" data-target="#exampleModalCenter{{project.id}}"
          class="img-responsive project" alt="" style="position: center;size: cover;" height="300px" width="350px">

      </div>
      {% empty %}

      {% endfor %}
    </div>
  </div>
</div>
</div>
{% endblock %}