{% extends 'base.html'%}
{% load bootstrap3 %}
{% load bootstrap4 %}
{% load static %}
{% load staticfiles %}

{% block content %}
<br>
<br>

<div style="padding-top: 10px;margin-top: 100px;" class="container">

  <div class="row">
    {% for project in projects %}
    <div class="col-xs-12 col-sm-6 col-md-4 projects" style="background-color:;padding-bottom: 0px">
      <div class="post-card" style="background-color: white;padding-bottom: 30px;">
        <div class="post-image">
          <img src="{{project.image.url}}" data-toggle="modal" data-target="#exampleModalCenter{{project.id}}"
            class="img-responsive project" alt="" style="position: center;size: cover;" height="250px" width="350px">

        </div>
        <div class="post-comments" style="margin-top: 10px;margin-left: 20px;">
          <h4 style="font-family: 'Lato', sans-serif;font-size: 15px;color: black;font-weight: 550">
            {{project.title}}
          </h4>

          <div>
            <div style="margin-left: 170px;margin-top: -30px">
              <p style="font-size:15px;padding-right: 0px;">{{project.post_date}}</p>
            </div>
            <hr>
            <div>
              <p style="font-size:15px;padding-right: 70px;"><b>Posted by:</b> {{project.user}}</p>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="modal fade" style="width:100% !important;" id="exampleModalCenter{{project.id}}" tabindex="-1"
            role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
              <div class="modal-content"
                style=" font-family: 'Lato', sans-serif !important;background: rgb(29, 29, 29); color:#d6d3cd;">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle" style="font-size:40px;"><b>{{project.title}}</b>
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img src="{{project.image.url}}" class="img-responsive" alt="" style="height:500px;width: 100%;">
                </div>
                <div class="modal-body">
                  <br>
                  <br>

                  <p style="font-size:22px;padding-right: 70px;"><b>Description:</b> {{project.description}}</p>
                  <form action="">
                    <b style="font-size:22px;">Link :</b>&nbsp;&nbsp; <a href="{{project.link}}"
                      style="width:100%;height:40px;font-size: 20px;">{{project.link}}</a>
                    <br>
                  </form>
                  <br>
                  <h4 style="color: whitesmoke;text-decoration-line: underline;">Project Rating Criteria</h4>
                  <h5>{{ project.rating.count }} <h5 style="color: green;">a)Design</h5> average =
                    {{ project.average_design | floatformat }} </h5>

                  <h5>{{ project.rating.count }} <h5 style="color: green;">b)Usability</h5> average =
                    {{ project.average_usability | floatformat }} </h5>

                  <h5>{{ project.rating.count }} <h5 style="color: green;">c)Content</h5> average =
                    {{ project.average_content | floatformat }}</h5>
                  <br><br>

                  <div class="col-xs-3 col-sm-6 col-md-4 col-lg-4">
                    <h5>a)Rate By Design</h5>



                    <form action="{%url 'rate_design' project_id=project.id %}" method="POST">
                      {%csrf_token%}
                      {% for field in form %}
                      {% bootstrap_field field %}
                      {% endfor %}
                      <input type="submit" class="btn-md btn btn-success" style="width:50% !important;" value="Rate">
                    </form>
                    <br>
                    <h5>b)Rate By Usability</h5>
                    <form action="{%url 'rate_usability' project_id=project.id %}" method="POST">
                      {%csrf_token%}
                      {% for field in form %}
                      {% bootstrap_field field %}
                      {% endfor %}
                      <input type="submit" class="btn-md btn btn-success" style="width:50% !important;" value="Rate">
                    </form>

                    <h5>c)Rate By Content</h5>
                    <form action="{%url 'rate_content' project_id=project.id %}" method="POST" style="width:100%;">
                      {%csrf_token%}
                      {% for field in form %}
                      {% bootstrap_field field %}
                      {% endfor %}
                      <input type="submit" class="btn-md btn btn-success" style="width:50% !important;" value="Rate">
                    </form>
                    <br>


                  </div>


                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default button" data-dismiss="modal">Close &nbsp;<i
                      class="fas fa-times"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>





    </div>
    <br>
    {% endfor %}
  </div>
</div>

</div>
</div>
{% endblock %}
{% block scripts %} {{block.super}}

{% endblock %}